@media only screen and (min-width: 769px) {
    .mainText {
    color: white;
    font-size: 100px;
    
    margin-left: -110%;
    margin-top: -10%;
}

.wrapperStartscreen {
    display: inline-flex;
    flex-direction: column;
}

.spielenKnopf {
    margin-left: -110%;
    margin-top: 5%;
    background-color: #0A8754;
    width: 150px;
    border-radius: 8px;
}

.knopfText {
    color: #EAEBED;
    text-align: center;
    margin: 12px;
}

.mainImg {
    width: 500px;
    position: absolute;
    top: 20%;
    right: 20%;
}
}
@media only screen and (max-width: 768px) {
    .mainText {
        color: #EAEBED;
        
    } 

    .mainImg {
        width: 80%;
        margin: auto;
        display: flex;
        z-index: 1;
        
    }
    .wrapperStartscreen {
        background-color: rebeccapurple;
        z-index: 2;
        position: relative;
        margin-top: 0%;
    }
    * {
        margin: 0;
        padding: 0;
    }
}